<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <title>Store</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="top-banner">
        <nav class="navigation">
          <div class="title-area">
            <div class="primary-logo">
              <a href="#">
                <p class="logo">Store</p>
              </a>
            </div>
            <div class="title-area-right">
              <a href="#" class="login-button">
                <p ><i class="far fa-user header-over-button header-login-button"></i></p>
              </a>
              <a href="#">
                <p><i class="fas fa-shopping-cart shopping-cart"></i></p>
              </a>
            </div>
          </div>
          <div class="header-menu">
            <ul class="menu-caetgory">
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">新商品</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">ホーム</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">キッチン</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">ファッション</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">ブック</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">キッズ</span>
                </a>
              </li>
              <li class="menu-item">
                <a href="#">
                  <span class="menu-label">キッチン</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
      <div id="header-serch-overlay">
        <div class="header-serch-overlay">
          <div class="header-overlay-content">
            <div class="header-serch">
              <form action="#" method="post" class="serch-form">
                <input type="hidden">
                <input type="text" name="serch" class="serch" id="serch">
                <button type="submit" class="submit-button">
                    <i class="fas fa-search"></i>検索
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <!-- <div class="navpath"></div>
        <div class="mainframe">
          <div class="clear"></div>
          <div class="slot-container">
          <div class="navisort">
            <p>並び替え</p>
            <p >商品名</p>
            <ul style="display: none;">
              <li>
                <a href="#">商品名</a>
              </li>
              <li>
                  <a href="#">新着順</a>
              </li>
              <li>
                  <a href="#">価格（安い順）</a>
              </li>
              <li>
                  <a href="#">価格（高い順）</a>
              </li>
            </ul>
          </div>
          </div>
          <div class="navipage">
            <span class="navipage"></span>
            <strong>（件数）</strong>
          </div> -->
        <div class="item_list">
          <div class="item">
            <div class="style-frame">
              <div class="style-line">
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                </div>
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                </div>
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像" class="image">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                 </div>
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像" class="image">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                </div>
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像" class="image">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                </div>
                <div class="style-item">
                  <div class="item-image">
                    <a href="#" title="aaaaaaaaaaa">
                      <img th:src="@{/img/nhl.png}" alt="画像" class="image">
                    </a>
                  </div>
                  <div class="item-name">
                    <a href="#">商品の名前が入ります</a>
                  </div>
                  <div class="item-price">
                    <span class="price">¥3,000</span>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="leftmenu">
        <div class="category-block">
          <div class="sidebox">
            <ul class="tree">
              <li class="tree1">
                <a href="#" class="tree_menu">ベストセラー</a>
              </li>
              <li class="tree1">
                <a href="#" class="tree_menu">ギフト</a>
              </li>
              <li class="tree1">
                <a href="#" class="tree_menu">デザイナー</a>
              </li>
              <li class="tree1">
                <a href="#" class="tree_menu">ひつじ</a>
              </li>
              <li class="tree1">
                <a href="#" class="tree_menu">オフィス</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
</body>
</html>

<link th:href="@{/css/index.css}" rel="stylesheet">