<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link th:href="@{/css/index.css}" rel="stylesheet">
  <title>Store</title>
</head>
<body>
<div th:replace="header :: header"></div>

  <div class="login-andregister">
    <div class="loginbox">
      <p class="logo">ログイン</p>
        <form action="login" method="post" class="rogin">
        <label for="name" class="name">ログインネーム:
          <input id="name" type="text" class="name-input">
        </label><br>
        <label for="email" class="email">メールアドレス:
          <input type="email" id="email" class="email-input">
        </label><br>
        <label for="pass" class="password">パスワード:
          <input type="password" id="pass" class="password-input">
        </label><br>
        <input type="submit" class="button">
      </form>
    </div>
    <div class="register-box">
    ＊初めてのご利用の方はこちらから
      <p class="logo">新規会員登録</p>
      <form th:action="@{register}" method="post" class="register">
        <label for="name-regi" class="name">ログインネーム:
          <input name="name" id="name-regi" type="text" class="name-input">
        </label><br>
        <label for="email-regi" class="email">メールアドレス:
          <input name="email" type="email" id="email-regi" class="email-input">
        </label><br>
        <label for="pass-regi" class="password">パスワード:
          <input name="password" type="password" id="pass-regi" class="password-input">
        </label><br>
        <input type="submit" class="button" value="登録">
      </form>
    </div>
  </div>
  </body>
  </html>